@{
    ViewData["Title"] = "Privacy Policy";
}

@*@model Book*@

<p>Use this page to detail your site's privacy policy.</p>

@*<div class="text-center">
    <h1>@ViewBag.age</h1>
    <h1>@ViewBag.name</h1>
    <h1> @ViewBag.surname</h1>
</div>

<div class="text-center">
    <h1>@Model.Id</h1>
    <h1>@Model.Name</h1>
    <h1> @Model.Author</h1>
</div>*@